<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quocngay.carparkbooking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.MapActivity"
            android:label="@string/title_activity_map"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_register"
            android:name=".activity.RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>
        <activity
            android:label="@string/title_activity_booking"
            android:name=".activity.BookingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MapActivity" />

            <!-- <intent-filter> -->
            <!-- <action android:name="BookingActi" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.ForgetPasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>
        <activity android:name=".activity.NewPasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>
        <activity
            android:label="@string/title_activity_nearest"
            android:name=".activity.NearestGaraActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MapActivity" />
        </activity>
        <activity
            android:label="@string/title_activity_history_2"
            android:name=".activity.HistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MapActivity" />
        </activity>
        <activity
            android:label="@string/title_activity_car_manager"
            android:name=".activity.CarManagerActivity" />
        <activity
            android:label="@string/title_activity_booking_detail"
            android:name=".activity.BookingDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MapActivity" />
        </activity>

        <service
            android:name=".services.FetchAddressIntentService"
            android:exported="false" />
        <service
            android:name=".services.NotificationIntentService"
            android:exported="false" />
        <service android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.ReceiveNotifyMessage">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAPM7L8NUuNVQPMx5xozWcYCxOzKS-T6T8" />

        <activity android:name=".activity.SecurityActivity" />
        <activity
            android:label="@string/title_activity_security"
            android:name=".activity.SecurityHomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activity.MapActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quocngay.carparkbooking.activity.MapActivity" />
        </activity>
        <activity
            android:name=".activity.RegisterForSecurityActivity"
            android:label="@string/title_activity_register_security"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quocngay.carparkbooking.activity.AdminActivity" />
        </activity>
        <activity
            android:label="@string/title_activity_security_manager"
            android:name=".activity.SecurityManagerActivity" />
        <activity
            android:label="@string/title_activity_checkin"
            android:name=".activity.CheckInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SecurityHomeActivity" />
        </activity>
        <activity
            android:label="@string/title_activity_checkout"
            android:name=".activity.CheckOutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SecurityHomeActivity" />
        </activity>
    </application>

</manifest>